// phone
$screen-xs-max: 575px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

//xs
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

//sm
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

//medium
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

//large
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

#home-container {
  width: 100%;
  height: 100vh;
  background-color: #1d1d20;
  overflow: auto;
  overflow-y: auto;

  #home-content {
    @include xs {
      margin: 5px;
      padding: 5px 5px 0;
      border: none;
    }
    @include sm {
      margin: 20px;
      padding: 10px 10px 0;
    }
    @include md {
      margin: 50px 50px 0;
      padding: 20px 20px 0;
    }
    height: 87%;
    border: 0.2px solid rgb(80, 69, 69);

    #home-links-container {
      @include xs {
        padding: 20px 15px 10px 15px;
      }
      color: rgb(255, 255, 255);
      display: flex;
      padding: 20px 15px;
      flex-flow: row wrap;
      justify-content: space-between;

      #name-title {
        font-size: 25px;
        font-family: "Proza Libre", sans-serif;
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        cursor: pointer;
      }
      #home-links {
        display: flex;
        flex-flow: row nowrap;
        li {
          padding: 0 0 0 15px;
        }
      }
    }

    #welcome-info {
      display: flex;

      @include xs {
        flex-flow: column nowrap;
        margin: 20% 0 0 0;
      }

      @include sm {
        flex-flow: row nowrap;
        margin: 10% 0;
      }
      align-items: center;
      height: 50%;
      // border: 1px solid red;
      .hide {
        display: none;
      }

      #welcome-container {
        margin: 0 0 85px 15px;
        // border: 1px solid red;

        #welcome-text {
          @include xs {
            font-size: 35px;
            padding: 0 0 0 10px;
          }

          @include sm {
            font-size: 80px;
          }

          @include md {
            font-size: 100px;
          }
          color: white;
          font-family: "Proza Libre", sans-serif;
          font-family: "Roboto", sans-serif;
        }
        #welcome-paragraph {
          color: white;
          line-height: 1.6;
          padding: 0 0 0 10px;
          font-family: "Proza Libre", sans-serif;
          font-family: "Roboto", sans-serif;
          border: 1px solid rgb(70, 36, 36);
          border-top: #1d1d20;
          border-right: #1d1d20;
          border-bottom: #1d1d20;
        }
      }

      .projects-container {
        // border: 1px solid red;
        @include xs {
          margin: 0;
        }
        padding: 0 0 0 17px;
        margin: 40px 0 0 0;
        .project-text {
          @include xs {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
          }
          padding: 0 0 5px 0;
          font-size: 25px;
          color: white;
          font-family: "Proza Libre", sans-serif;
          font-family: "Roboto", sans-serif;
        }

        .project-description {
          padding: 0 0 0 10px;
          font-size: 16px;
          color: white;
          font-family: "DM Sans", sans-serif;
          font-weight: lighter;
          line-height: 1.4;
        }
        .project-content {
          display: flex;
          @include xs {
            flex-flow: column nowrap;
          }
          flex-flow: row nowrap;
        }

        .project-img {
          @include xs {
            width: 80%;
            margin: 0 8%;
          }

          @include sm {
            width: 250px;
            height: 250px;
            object-position: 0 0;
          }
          object-fit: contain;
        }
      }

      #home-projects {
        @include xs {
          padding: 25px 10px 10px 10px;
        }

        @include sm {
          padding: 0 50px 50px 50px;
        }
        color: white;
        #project-text {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          font-size: 21px;
          font-family: "Proza Libre", sans-serif;
          font-family: "Roboto", sans-serif;
          margin: 0 0 5px 0;
        }
        #project-items {
          width: 200px;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          border-top: 1px solid rgb(70, 36, 36);
          position: relative;
          .project-names {
            font-size: 15px;
            font-family: "Proza Libre", sans-serif;
            font-family: "Roboto", sans-serif;
            font-weight: 100;
            color: white;
          }
        }
      }
    }
  }
}
